<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>addstudentservlet</servlet-name>
        <servlet-class>addstudentservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewstudentservlet</servlet-name>
        <servlet-class>viewstudentservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addstudentservlet</servlet-name>
        <url-pattern>/addstudentservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewstudentservlet</servlet-name>
        <url-pattern>/viewstudentservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/UpdateStudentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>add.jsp</welcome-file>
    </welcome-file-list>
</web-app>
